swagger: '2.0'
info:
  title: Credit Profile ENTITY API
  version: '1.0'
  contact:
    name: Credit and Collection Team
  description: Customer Credit Profile Management
host: tbd.telus.com
schemes:
  - https
tags:
  - name: customer
  - name: events subscription
paths:
  /customer:
    get:
      operationId: listCustomer
      summary: List or find Customer objects
      description: This operation list or find Customer entities
      tags:
        - customer
      parameters:
        - name: fields
          description: Comma-separated properties to be provided in response
          required: false
          in: query
          type: string
        - name: offset
          description: Requested index for start of resources to be provided in response
          required: false
          in: query
          type: integer
        - name: limit
          description: Requested number of resources to be provided in response
          required: false
          in: query
          type: integer
      responses:
        '200':
          description: Success
          headers:
            X-Result-Count:
              description: Actual number of items returned in the response body
              type: integer
            X-Total-Count:
              description: Total number of items matching criteria
              type: integer
          schema:
            type: array
            items:
              $ref: '#/definitions/Customer'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        '405':
          description: Method Not allowed
          schema:
            $ref: '#/definitions/Error'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  '/customer/{id}':
    get:
      operationId: retrieveCustomer
      summary: Retrieves a Customer by ID
      description: This operation retrieves a Customer entity. Attribute selection is enabled for all first level attributes.
      tags:
        - customer
      parameters:
        - name: id
          description: Identifier of the Customer
          required: true
          type: string
          in: path
        - name: fields
          description: Comma-separated properties to provide in response
          required: false
          type: string
          in: query
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Customer'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        '405':
          description: Method Not allowed
          schema:
            $ref: '#/definitions/Error'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
    patch:
      operationId: patchCustomer
      summary: Updates a Customer partially
      description: This operation updates partially a Customer entity.
      tags:
        - customer
      parameters:
        - name: id
          description: Identifier of the Customer
          required: true
          type: string
          in: path
        - name: customer
          description: The Customer to be updated
          required: true
          schema:
            $ref: '#/definitions/Customer_Update'
          in: body
      responses:
        '200':
          description: Updated
          schema:
            $ref: '#/definitions/Customer'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        '405':
          description: Method Not allowed
          schema:
            $ref: '#/definitions/Error'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Any: {}
  ContactMedium:
    type: object
    description: Indicates the contact medium that could be used to contact the party.
    required:
      - mediumType
      - characteristic
    properties:
      mediumType:
        type: string
        description: 'Type of the contact medium, such as: email address, telephone number, postal address'
      preferred:
        type: boolean
        description: 'If true, indicates that is the preferred contact medium'
      characteristic:
        $ref: '#/definitions/MediumCharacteristic'
        description: Any additional characteristic(s) of this contact medium
      validFor:
        $ref: '#/definitions/TimePeriod'
        description: The time period that the contact medium is valid for
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        format: uri
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
  TelusIndividualIdentification:
    description: TELUS extension to include additional properties
    allOf:
      - $ref: '#/definitions/IndividualIdentification'
      - type: object
        properties:
          TelusCharacteristic:
            type: object
            properties:
              provinceCd:
                type: string
              creditCardFirstSixNum:
                type: string
              creditCardLastFourNum:
                type: string
              countryCd:
                type: string
  TelusCreditProfile:
    description: TELUS extension to include additional properties
    allOf:
      - $ref: '#/definitions/CreditProfile'
      - type: object
        properties:
          TelusCharacteristic:
            type: object
            properties:
              creditProfileId:
                type: string
              primaryCreditScoreCd:
                type: string
              primaryCreditScoreTypeCd:
                type: string
              bureauDecisionCode:
                type: string
              bureauDecisionMessage:
                type: string
              creditProgramName:
                type: string
              creditClassCd:
                type: string
              creditClassDate:
                type: string
              creditDecisionCd:
                type: string
              creditDecisionDate:
                type: string
              riskLevelNumber:
                type: number
              riskLevelDecisionCd:
                type: string
              riskLevelDt:
                type: string
              clpCreditLimit:
                type: string
              averageSecurityDepositListProductCd:
                type: string
              averageSecurityDepositListDepositAmt:
                type: number
              assessmentMessageCode:
                type: string
                description: Assessment message code. Not applicable for create and update.
              assessmentMessage:
                type: string
                description: Assessment message. Not applicable for create and update.
              warningHistoryList:
                type: array
                items:
                  $ref: '#/definitions/TelusCreditDecisionWarning'
              originatorApplicationId:
                type: string
                description: Channel information. Required for create and update. Not returned in GET.
              channelOrganizationId:
                type: string
                description: Channel information. Required for create and update. Not returned in GET.
              userId:
                type: string
                description: Channel information. Required for create and update. Not returned in GET.
  CreditProfile:
    type: object
    description: 'Credit profile for the party (containing credit scoring, ...). By default only the current credit profile  is retrieved. It can be used as a list to give the party credit profiles history, the first one in the list will be the current one.'
    required:
      - creditProfileDate
      - validFor
    properties:
      creditProfileDate:
        type: string
        format: date-time
        description: The date the profile was established
      creditRiskRating:
        type: integer
        description: This is an integer whose value is used to rate the risk
      creditScore:
        type: integer
        description: A measure of a person or organizations creditworthiness calculated on the basis of a combination of factors such as their income and credit history
      validFor:
        $ref: '#/definitions/TimePeriod'
        description: The period for which the profile is valid
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        format: uri
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
  Customer:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier for Customers
      href:
        type: string
        description: Url used to reference the customer.
      creditProfile:
        type: array
        items:
          $ref: '#/definitions/TelusCreditProfile'
      engagedParty:
        $ref: '#/definitions/RelatedParty'
        description: The party - an organization or an individual - that is engaged as a customer.
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        format: uri
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
    required:
      - engagedParty
    description: ' '
  Customer_Create:
    type: object
    description: |-

      Skipped properties: id,href
    required:
      - engagedParty
      - name
    properties:
      name:
        type: string
        description: 'A word, term, or phrase by which the Customer is known and distinguished from other Customers.'
      status:
        type: string
        description: Used to track the lifecycle status of the customer.
      statusReason:
        type: string
        description: 'A string providing an explanation on the value of the status lifecycle. For instance if the status is Rejected, statusReason will provide the reason for rejection.'
      creditProfile:
        type: array
        items:
          $ref: '#/definitions/CreditProfile'
      engagedParty:
        $ref: '#/definitions/RelatedParty'
        description: The party - an organization or an individual - that is engaged as a customer.
      validFor:
        $ref: '#/definitions/TimePeriod'
        description: The time period that the Customer is valid for.
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        format: uri
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
  Customer_Update:
    type: object
    description: |-

      Skipped properties: id,href
    properties:
      creditProfile:
        type: array
        items:
          $ref: '#/definitions/TelusCreditProfile'
      engagedParty:
        $ref: '#/definitions/RelatedParty'
        description: The party - an organization or an individual - that is engaged as a customer.
      validFor:
        $ref: '#/definitions/TimePeriod'
        description: The time period that the Customer is valid for.
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        format: uri
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
  EntityRef:
    type: object
    description: Entity reference schema to be use for all entityRef class.
    properties:
      id:
        type: string
        description: Unique identifier of a related entity.
      href:
        type: string
        description: Reference of the related entity.
      name:
        type: string
        description: Name of the related entity.
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        format: uri
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
      '@referredType':
        type: string
        description: The actual type of the target instance when needed for disambiguation.
    required:
      - id
  MediumCharacteristic:
    type: object
    description: Describes the contact medium characteristic that could be used to contact a party (an individual or an organization)
    properties:
      city:
        type: string
        description: The city
      contactType:
        type: string
        description: 'The type of contact, for example: phone number such as mobile, fixed home, fixed office. postal address such as shipping instalation�'
      country:
        type: string
        description: The country
      postCode:
        type: string
        description: Postcode
      stateOrProvince:
        type: string
        description: State or province
      street1:
        type: string
        description: Describes the street
      street2:
        type: string
        description: Complementary street description
      street3:
        type: string
      street4:
        type: string
      street5:
        type: string
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        format: uri
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
  RelatedParty:
    type: object
    description: The party - an organization or an individual - that is engaged as a customer.
    required:
      - '@referredType'
      - id
    properties:
      id:
        type: string
        description: Unique identifier of a related entity.
      href:
        type: string
        description: Reference of the related entity.
      name:
        type: string
        description: Name of the related entity.
      role:
        type: string
        description: Role played by the related party
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        format: uri
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
      '@referredType':
        type: string
        description: 'The actual type of the target instance when needed for disambiguation. Example: Individual or Organization'
      birthDate:
        type: string
        format: date
      contactMedium:
        $ref: '#/definitions/ContactMedium'
      individualIdentification:
        type: array
        items:
          $ref: '#/definitions/TelusIndividualIdentification'
      organizationIdentification:
        type: array
        items:
          $ref: '#/definitions/OrganizationIdentification'
  TimePeriod:
    type: object
    description: 'A period of time, either as a deadline (endDateTime only) a startDateTime only, or both'
    properties:
      endDateTime:
        type: string
        format: date-time
        description: 'End of the time period, using IETC-RFC-3339 format'
      startDateTime:
        type: string
        format: date-time
        description: 'Start of the time period, using IETC-RFC-3339 format. If you define a start, you must also define an end'
  EventSubscription:
    type: object
    description: Sets the communication endpoint address the service instance must use to deliver notification information
    required:
      - id
      - callback
    properties:
      id:
        type: string
        description: Id of the listener
      callback:
        type: string
        description: The callback being registered.
      query:
        type: string
        description: additional data to be passed
  EventSubscriptionInput:
    type: object
    description: Sets the communication endpoint address the service instance must use to deliver notification information
    required:
      - callback
    properties:
      callback:
        type: string
        description: The callback being registered.
      query:
        type: string
        description: additional data to be passed
  CustomerCreateEvent:
    type: object
    description: The notification data structure
    properties:
      id:
        type: string
        description: Identifier of the resource involved in the event
      href:
        type: string
        description: Reference of the resource involved in the event
      eventId:
        type: string
        description: The identifier of the notification.
      eventTime:
        type: string
        format: date-time
        description: Time of the event occurrence.
      eventType:
        type: string
        description: The type of the notification.
      correlationId:
        type: string
        description: The correlation id for this event.
      domain:
        type: string
        description: The domain of the event.
      title:
        type: string
        description: The title of the event.
      description:
        type: string
        description: An explanatory of the event.
      priority:
        type: string
        description: A priority.
      timeOcurred:
        type: string
        format: date-time
        description: The time the event occured.
      event:
        description: The event payload linked to the involved resource object
        $ref: '#/definitions/CustomerCreateEventPayload'
  CustomerCreateEventPayload:
    type: object
    description: The event data structure
    properties:
      customer:
        description: The involved resource data for the event
        $ref: '#/definitions/Customer'
  CustomerAttributeValueChangeEvent:
    type: object
    description: The notification data structure
    properties:
      eventId:
        type: string
        description: The identifier of the notification.
      eventTime:
        type: string
        format: date-time
        description: Time of the event occurrence.
      eventType:
        type: string
        description: The type of the notification.
      correlationId:
        type: string
        description: The correlation id for this event.
      domain:
        type: string
        description: The domain of the event.
      title:
        type: string
        description: The title of the event.
      description:
        type: string
        description: An explanatory of the event.
      priority:
        type: string
        description: A priority.
      timeOcurred:
        type: string
        format: date-time
        description: The time the event occured.
      fieldPath:
        type: string
        description: The path identifying the object field concerned by this notification.
      event:
        description: The event payload linked to the involved resource object
        $ref: '#/definitions/CustomerAttributeValueChangeEventPayload'
  CustomerAttributeValueChangeEventPayload:
    type: object
    description: The event data structure
    properties:
      customer:
        description: The involved resource data for the event
        $ref: '#/definitions/Customer'
  CustomerStateChangeEvent:
    type: object
    description: The notification data structure
    properties:
      id:
        type: string
        description: Identifier of the resource involved in the event
      href:
        type: string
        description: Reference of the resource involved in the event
      eventId:
        type: string
        description: The identifier of the notification.
      eventTime:
        type: string
        format: date-time
        description: Time of the event occurrence.
      eventType:
        type: string
        description: The type of the notification.
      correlationId:
        type: string
        description: The correlation id for this event.
      domain:
        type: string
        description: The domain of the event.
      title:
        type: string
        description: The title of the event.
      description:
        type: string
        description: An explanatory of the event.
      priority:
        type: string
        description: A priority.
      timeOcurred:
        type: string
        format: date-time
        description: The time the event occured.
      event:
        description: The event payload linked to the involved resource object
        $ref: '#/definitions/CustomerStateChangeEventPayload'
  CustomerStateChangeEventPayload:
    type: object
    description: The event data structure
    properties:
      customer:
        description: The involved resource data for the event
        $ref: '#/definitions/Customer'
  CustomerDeleteEvent:
    type: object
    description: The notification data structure
    properties:
      id:
        type: string
        description: Identifier of the resource involved in the event
      href:
        type: string
        description: Reference of the resource involved in the event
      eventId:
        type: string
        description: The identifier of the notification.
      eventTime:
        type: string
        format: date-time
        description: Time of the event occurrence.
      eventType:
        type: string
        description: The type of the notification.
      correlationId:
        type: string
        description: The correlation id for this event.
      domain:
        type: string
        description: The domain of the event.
      title:
        type: string
        description: The title of the event.
      description:
        type: string
        description: An explanatory of the event.
      priority:
        type: string
        description: A priority.
      timeOcurred:
        type: string
        format: date-time
        description: The time the event occured.
      event:
        description: The event payload linked to the involved resource object
        $ref: '#/definitions/CustomerDeleteEventPayload'
  CustomerDeleteEventPayload:
    type: object
    description: The event data structure
    properties:
      customer:
        description: The involved resource data for the event
        $ref: '#/definitions/Customer'
  Error:
    description: 'Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)'
    type: object
    required:
      - code
      - reason
    properties:
      code:
        type: string
        description: 'Application relevant detail, defined in the API or a common list.'
      reason:
        type: string
        description: Explanation of the reason for the error which can be shown to a client user.
      message:
        type: string
        description: More details and corrective actions related to the error which can be shown to a client user.
      status:
        type: string
        description: HTTP Error code extension
      referenceError:
        type: string
        format: uri
        description: URI of documentation describing the error.
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class.'
      '@schemaLocation':
        type: string
        format: uri
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name.'
  TelusCreditDecisionWarning:
    type: object
    properties:
      warningHistoryId:
        type: string
      warningCategoryCd:
        type: string
      warningCd:
        type: string
      warningTypeCd:
        type: string
      warningItemTypeCd:
        type: string
      warningDetectionDate:
        type: string
        format: date-time
      warningStatusCd:
        type: string
      resolvedPermanentlyInd:
        type: string
      validFor:
        $ref: '#/definitions/TimePeriod'
  IndividualIdentification:
    type: object
    description: 'Represents our registration of information used as proof of identity by an individual (passport, national identity card, drivers license, social security number, birth certificate)'
    properties:
      identificationId:
        type: string
        description: Identifier
      identificationType:
        type: string
        description: 'Identification type (passport, national identity card, drivers license, social security number, birth certificate)'
      issuingAuthority:
        type: string
        description: 'Authority which has issued the identifier, such as: social security, town hall'
      issuingDate:
        type: string
        format: date-time
        description: Date at which the identifier was issued
      validFor:
        $ref: '#/definitions/TimePeriod'
        description: The period for which the identification information is valid.
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
        format: uri
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
  OrganizationIdentification:
    type: object
    description: Represents our registration of information used as proof of identity by an organization
    properties:
      identificationId:
        type: string
        description: Identifier
      identificationType:
        type: string
        description: Type of identification information used to identify the company in a country or internationally
      issuingAuthority:
        type: string
        description: Authority which has issued the identifier (chamber of commerce...)
      issuingDate:
        type: string
        format: date-time
        description: Date at which the identifier was issued
      validFor:
        $ref: '#/definitions/TimePeriod'
        description: The period for which the identification information is valid.
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
        format: uri
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
  Individual:
    type: object
    description: 'Individual represents a single human being (a man, woman or child). The individual can be a customer, an employee or any other person that the organization needs to store information about.'
    required:
      - id
    properties:
      id:
        type: string
        description: Unique identifier of the organization
      birthDate:
        type: string
        format: date-time
        description: Birth date
      contactMedium:
        type: array
        items:
          $ref: '#/definitions/ContactMedium'
      individualIdentification:
        type: array
        items:
          $ref: '#/definitions/TelusIndividualIdentification'
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
        format: uri
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
  Organization:
    type: object
    description: 'Organization represents a group of people identified by shared interests or purpose. Examples include business, department and enterprise. Because of the complex nature of many businesses, both organizations and organization units are represented by the same data.'
    required:
      - id
    properties:
      id:
        type: string
        description: Unique identifier of the organization
      contactMedium:
        type: array
        items:
          $ref: '#/definitions/ContactMedium'
      organizationIdentification:
        type: array
        items:
          $ref: '#/definitions/OrganizationIdentification'
      '@baseType':
        type: string
        description: 'When sub-classing, this defines the super-class'
      '@schemaLocation':
        type: string
        description: A URI to a JSON-Schema file that defines additional attributes and relationships
        format: uri
      '@type':
        type: string
        description: 'When sub-classing, this defines the sub-class entity name'
x-cmdbid: 16973
x-tmfdomain: customer
x-api-engagement-num: 367
x-apiname: creditProfile
